<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xxpay.service.dao.mapper.MchTradeOrderBatchHourMapper">

    <!--  查询结果集-->
    <resultMap id="BaseResultMap" type="org.xxpay.core.entity.MchTradeOrderBatchHour">
        <id column="BatchId" jdbcType="VARCHAR" property="batchId" />
        <result column="BatchDate" jdbcType="VARCHAR" property="batchDate" />
        <result column="Hour" jdbcType="VARCHAR" property="hour" />
        <result column="WxSumRealAmount" jdbcType="BIGINT" property="wxSumRealAmount" />
        <result column="WxSumRefundAmount" jdbcType="BIGINT" property="wxSumRefundAmount" />
        <result column="WxCuntTrade" jdbcType="BIGINT" property="wxCuntTrade" />
        <result column="WxRefundCunt" jdbcType="BIGINT" property="wxRefundCunt" />
        <result column="AliPaySumRealAmount" jdbcType="BIGINT" property="aliPaySumRealAmount" />
        <result column="AliPaySumRefundAmount" jdbcType="BIGINT" property="aliPaySumRefundAmount" />
        <result column="AliPayCuntTrade" jdbcType="BIGINT" property="aliPayCuntTrade" />
        <result column="AliPayRefundCount" jdbcType="BIGINT" property="aliPayRefundCount" />
        <result column="BatchTaskStatus" jdbcType="TINYINT" property="batchTaskStatus" />
        <result column="HospitalId" jdbcType="BIGINT" property="hospitalId" />
        <result column="ProvinceCode" jdbcType="INTEGER" property="provinceCode" />
        <result column="CityCode" jdbcType="INTEGER" property="cityCode" />
        <result column="AreaCode" jdbcType="INTEGER" property="areaCode" />
        <result column="Remark" jdbcType="VARCHAR" property="remark" />
        <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <!-- 日交易分析支付趋势 -->
    <select id="selectPayTrend" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT h.Hour AS  hour
        ,SUM(IFNULL(h.WxSumRealAmount, 0)) AS wxSumRealAmount,         SUM(IFNULL(h.WxSumRefundAmount, 0)) AS wxSumRefundAmount
        ,SUM(IFNULL(h.WxCuntTrade, 0)) AS wxCuntTrade,                 SUM(IFNULL(h.WxRefundCunt, 0)) AS wxRefundCunt
        ,SUM(IFNULL(h.AliPaySumRealAmount, 0)) AS aliPaySumRealAmount, SUM(IFNULL(h.AliPaySumRefundAmount, 0)) AS aliPaySumRefundAmount
        ,SUM(IFNULL(h.AliPayCuntTrade, 0)) AS aliPayCuntTrade,         SUM(IFNULL(h.AliPayRefundCount, 0)) AS aliPayRefundCount
        FROM t_mch_trade_order_batch_hour h
        WHERE h.BatchDate = #{batchDate}
        <if test="areaCode != null">
            and h.AreaCode = #{areaCode}
        </if>
        <if test="hospitalId != null">
            and h.HospitalId = #{hospitalId}
        </if>
        GROUP BY h.Hour
    </select>

    <!--  按交易日的小时时段查询交易跑批数据 -->
    <select id="selectHourBatch" parameterType="java.util.Map"   resultMap="BaseResultMap">
              select
                date(o.TradeSuccTime)     batchDate
               ,(hour(o.TradeSuccTime) + 1)     hour
               ,sum(if(o.ProductType = 3, o.Amount, 0))              wxSumRealAmount
               ,sum(if(o.ProductType = 3, o.RefundTotalAmount, 0))   wxSumRefundAmount
               ,count(if(o.ProductType = 3, true, null))               wxCuntTrade
               ,count(if((o.Status = 4 or o.Status = 5) and o.ProductType = 3, true, null)) wxRefundCunt
               ,sum(IF(o.ProductType = 4, o.Amount, 0))              aliPaySumRealAmount
               ,sum(IF(o.ProductType = 4, o.RefundTotalAmount, 0))   aliPaySumRefundAmount
               ,count(IF(o.ProductType = 4, true, null))               aliPayCuntTrade
               ,count(IF((o.Status = 4 or o.Status = 5) and o.ProductType = 4, true, null)) aliPayRefundCount
               ,1  batchTaskStatus
               ,o.HospitalId          hospitalId
               ,o.ProvinceCode        provinceCode
               ,o.CityCode            cityCode
               ,o.AreaCode            areaCode
              from t_mch_trade_order o
              where (o.Status = 2 or o.Status = 4 or o.`Status` = 5)
              and (o.ProductType = 3 or o.ProductType = 4)
              and date(o.TradeSuccTime) = #{payDate}
             group by date(o.TradeSuccTime), hour(o.TradeSuccTime), o.ProvinceCode, o.CityCode, o.AreaCode, o.HospitalId
             order by  o.TradeSuccTime
     </select>

    <!-- 插入日跑小时时段批数据 -->
    <insert id="insertHourBatch" parameterType="org.xxpay.core.entity.MchTradeOrderBatchHour" >
              insert into t_mch_trade_order_batch_hour(BatchId, BatchDate, Hour, WxSumRealAmount, WxSumRefundAmount, WxCuntTrade, WxRefundCunt,
                       AliPaySumRealAmount, AliPaySumRefundAmount, AliPayCuntTrade, AliPayRefundCount, BatchTaskStatus, HospitalId, ProvinceCode, CityCode,
                       AreaCode, Remark, CreateTime, UpdateTime)
              values
                  <foreach collection ="list" item="hour" separator =",">
                      (
                      #{hour.batchId}, #{hour.batchDate}, #{hour.hour}, #{hour.wxSumRealAmount},  #{hour.wxSumRefundAmount},  #{hour.wxCuntTrade},  #{hour.wxRefundCunt},  #{hour.aliPaySumRealAmount},  #{hour.aliPaySumRefundAmount},
                      #{hour.aliPayCuntTrade},  #{hour.aliPayRefundCount}, #{hour.batchTaskStatus},  #{hour.hospitalId},  #{hour.provinceCode},  #{hour.cityCode},  #{hour.areaCode},  null, now(), now()
                      )
                  </foreach>

     </insert>

</mapper>